

body {
    background-color: #e3eaa7 !important;
}
#list-content h1 {
    font-family: 'Nova Flat', cursive !important;
    margin-top: 20px;
}
#body-content {
    background-color: rgb(180, 180, 180);
    height: 1000px;
}

#box1, #box2, #box3 {
    background-color: rgb(180, 180, 180);
    border: none;
    padding: 5px;
    margin: 10px;
}
.box-header {
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    
}
#nav-list a {
    text-align: center;
    color: dimgray;
    font-family: arial;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 16px;
    text-decoration: none;
}
    
#nav-list a:hover {
    background-color: azure;
}

/****   Extra small device only   ****/
@media (min-width: 576px) and (max-width: 767px) {
    
}

/****   Medium device only   ****/

@media (min-width: 768px) and (max-width: 991px) {
    section #box3 {
        margin-top: 16px;
   }
  
}